{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "OCW for IQ1" %}
{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
            <!-- navbar-dark : 文字色白 , bg-dark : 背景黒 -->
            <a class="navbar-brand" href="/">{% trans "OCW for IQ1" %}</a>
            <!-- TODO 必要ならばトグルメニューを追加 -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/ja/">日本語</a>
                <li class="nav-item"><a class="nav-link" href="/en/">English</a>
            </ul>
        </nav>

        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>{% trans "Search by Lecture Name" %}</h3>
                </div>
                <div class="p-3">
                    <form action="/result" method="GET">
                        <div class="form-group">
                            <label for="">{% trans "Lecture name" %}</label>
                            <input type="lecture" class="form-control" name="lectureName">
                        </div>
                        <button type="submit" class="btn btn-dark float-right">{% trans "Search" %}</button>
                    </form>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="pt-5 pb-5">
                <div class="p-3 pt-5">
                    <h3>{% trans "Select from Department" %}</h3>
                </div>
                <div class="p-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/department?dep=rigakuin">{% trans "School of Science" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=kougakuin">{% trans "School of Engineering" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=bussitsu">{% trans "School of School of Materials and Chemical Technology" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=jouhou">{% trans "School of Computing" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=seimei">{% trans "School of Life Science and Technology" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=kankyo">{% trans "School of Environment and Sociery" %}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/department?dep=sonota">{% trans "Others" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}
